/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

body {
  background-color: #A9CCE3;
}

.navbar-user-info {
  text-align: right;
  color: gray;
}

span {
  margin-right: 10px;
}

.jumbotron {
  margin-top: 40px;
}

h1 {
  text-align: center;
}

h4 {
  text-align: center;
  padding: 20px;
}

.thumbnail {
  background-color: #f6f6f6;
}

.thumbnail img {
  height: 200px;
  width: 200px;
  border-radius: 5px;
  object-fit: cover;
  margin-top: 10px;
}

.profile-pic img {
  height: 200px;
  width: 200px;
  border-radius: 5px;
  object-fit: cover;
  margin-top: 20px;
}

.profile-info {
}

.follow-button {
  margin-top: 20px;
}

div .well img {
  height: 50px;
  width: 50px;
  border-radius: 25px;
  object-fit: cover;
}

.tweet-form {
  margin-bottom: 20px;
}

textarea {
  resize: none;
  margin-bottom: 15px;
}

.row {
  text-align: center;
}

.btn-md {
  float: right;
}

.profile-tweets {
  height: 600px;
  overflow: scroll;
  margin-top: 20px;
}

.timeline-tweets {
  height: 600px;
  overflow: scroll;
  margin-top: 20px;
}

.users {
  height: 600px;
  overflow: scroll;
}
